server {
  listen 80;
  server_name securefile.com www.securefile.com *.securefile.com;
  return 301 https://$host$request_uri;
}
server {
  listen 443 ssl http2;
  server_name securefile.com www.securefile.com *.securefile.com;
  ssl_certificate /etc/letsencrypt/live/securefile.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/securefile.com/privkey.pem;
  location /api/ { proxy_pass http://127.0.0.1:4000/api/; proxy_set_header Host $host; proxy_set_header X-Forwarded-Proto https; proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for; }
  location / { root /var/www/securefile/frontend/dist; try_files $uri $uri/ /index.html; }
}
